<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>de.chbndrhnns.m2ynab</string>
        <key>Program</key>
        <string>/bin/bash</string>
        <key>StartInterval</key>
        <integer>21600</integer>
        <key>RunAtLoad</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
            <string>~</string>
            <string>/Users/jo/dev/m2ynab/bin/task.sh</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/jo/dev/m2ynab/log/task.stdout.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/jo/dev/m2ynab/log/task.stderr.log</string>
        </dict>
</plist>
